/* Üst Navbar */
.custom-navbar {
    background: linear-gradient(135deg, #1568c1, #0056b3);
    padding: 12px 25px;
    border-radius: 8px;
  }
  
  .custom-navbar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .custom-navbar .nav-link {
    color: white !important;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-navbar .nav-link:hover {
    color: #f8f9fa !important;
    text-decoration: underline;
  }
  
  /* Alt Navbar */
  .custom-sub-navbar {
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .custom-sub-navbar .navbar-brand {
    color: #333;
    font-size: 1.3rem;
  }